# Node modules
node_modules/

# Build output
build/
dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE configurations
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
